body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
}

#gameCanvas {
    background-color: #ffffff;
    border: 2px solid black;
}
